<footer class="bg-light text-dark pt-5 pb-4 mt-5 border-top">
    <div class="container text-md-left">
      <div class="row text-md-left">
  
        <div class="col-md-4 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4 text-primary">Gaming Gear</h6>
          <p>
            Power up your setup with high-quality gaming peripherals. Built for performance, crafted for gamers.
          </p>
        </div>
  
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4 text-primary">Quick Links</h6>
          <ul class="list-unstyled">
            <li><a routerLink="/" class="text-dark text-decoration-none link-hover-blue">Home</a></li>
            <li><a routerLink="/shop" class="text-dark text-decoration-none link-hover-blue">Shop</a></li>
            <li><a routerLink="/about" class="text-dark text-decoration-none link-hover-blue">About</a></li>
            <li><a routerLink="/basket" class="text-dark text-decoration-none link-hover-blue">Basket</a></li>
            <li><a routerLink="/checkout" class="text-dark text-decoration-none link-hover-blue">Checkout</a></li>
            <li><a routerLink="/orders" class="text-dark text-decoration-none link-hover-blue">Orders</a></li>
          </ul>
        </div>
  
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4 text-primary">Contact</h6>
          <p><i class="fa fa-envelope me-2 text-primary"></i> support&#64;gaminggear.com</p>
          <p><i class="fa fa-phone me-2 text-primary"></i> +1 (800) 123-4567</p>
          <p><i class="fa fa-map-marker me-2 text-primary"></i> 123 Gear Lane, Pixel City</p>
        </div>
  
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4 text-primary">Follow Us</h6>
          <a href="#" class="text-dark me-3 link-icon-hover"><i class="fa fa-facebook"></i></a>
          <a href="#" class="text-dark me-3 link-icon-hover"><i class="fa fa-instagram"></i></a>
          <a href="#" class="text-dark me-3 link-icon-hover"><i class="fa fa-twitter"></i></a>
          <a href="#" class="text-dark link-icon-hover"><i class="fa fa-youtube"></i></a>
        </div>
  
      </div>
    </div>
  
    <div class="text-center py-3 border-top border-secondary-subtle mt-4">
      <small>&copy; 2025 Gaming Gear. All rights reserved.</small>
    </div>
  </footer>
  